<div class="container">
  <button type="button" (click)="btn1()">btn 1</button>
  <button type="button"(click)="btn2()">btn 2</button>
  <button type="button"(click)="btn3()">btn 3</button>
</div>


<app-hijo

(EventoMensaje)="recibirMensaje($event)"
(Evento2)="recibirM2($event)"
(Evento3)="recibirm3($event)"
>
</app-hijo>

<div>
  <h1>Output</h1>
  <h3>Mensaje del hijo: {{ text }} </h3>
  <h3>Mensaje del hijo: {{ text2 }} </h3>
  <h3>Mensaje del hijo: {{ text3 }} </h3>
  
</div>